#skills-section{
  width: 100%;
  min-height: 50vh;
  text-align: center;
  display: flex;
  flex-direction: column;
}

img {
  height: 150px;
  width: 150px;
}

li {
  text-align: left;
}

.container-skills {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 4px;
  margin: 32px 24px 16px 24px;
}

.container-skill {
  display: initial;
  grid-template-rows: 150px 48px auto;
  justify-content: center;
}

.skill-name {
  font-weight: bold;
  margin: 16px;
  margin-bottom: 10px;
  line-height: 18px;
  font-size: 20px;
  padding-left: 4px;
  text-align: center;
}

.tech {
  display: flex;
  margin-top: 10px;
}

.title-text {
  background-position: top center;
}

@media(max-width:768px) {
  img {
    max-width: 80px;
    max-height: 80px;
    margin: 0;
  }

  li {
    font-size: 14px;
  }

  .container-skills {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 4px;
    margin: 16px 8px;
  }

  .container-skill {
    grid-template-rows: auto auto;
    margin: 0px;
  }

  .skill-name{
    margin: 0;
    text-align: center;
  }
}
