<mat-toolbar class="header-toolbar">
  <nav class="nav-header">
    <div class="logo">
      <a>Estefania Marin Sierra</a>
    </div>

    <ul class="menu">
      <li *ngIf="isFrench">
        <button class="profile-link header-button
        " (click)="ScrollTo('skills-section')">COMPÉTENCES</button>
      </li>
      <li *ngIf="isFrench">
        <button class="profile-link header-button" (click)="ScrollTo('projects-section')">INITIATIVES</button>
      </li>
      <li *ngIf="isFrench">
        <button class="profile-link header-button" (click)="ScrollTo('ACHIEVEMENTS-section')">RÉALISATIONS</button>
      </li>
      <li *ngIf="isFrench">
        <button class="profile-link header-button" (click)="ScrollTo('contact-section')">CONTACTEZ</button>
      </li>
      <li *ngIf="isFrench">
        <button class="header-button-last">
          <a class="header-button-last" href="https://estefania-marin-sierra.github.io/Portfolio/">
            EN
          </a>
        </button>
      </li>
      <li *ngIf="!isFrench">
        <button class="profile-link header-button" (click)="ScrollTo('skills-section')">SKILLS</button>
      </li>
      <li *ngIf="!isFrench">
        <button class="profile-link header-button" (click)="ScrollTo('projects-section')">INITIATIVES</button>
      </li>
      <li *ngIf="!isFrench">
        <button class="profile-link header-button" (click)="ScrollTo('ACHIEVEMENTS-section')">ACHIEVEMENTS</button>
      </li>
      <li *ngIf="!isFrench">
        <button class="profile-link header-button" (click)="ScrollTo('contact-section')">CONTACT</button>
      </li>
      <li *ngIf="!isFrench">
        <button class="header-button-last">
          <a class="header-button-last" href="https://estefania-marin-sierra.github.io/Portfolio/?lang=fr">
            FR
          </a>
        </button>
      </li>
    </ul>
  </nav>
</mat-toolbar>
