<h2 mat-dialog-title>
  <ng-container *ngIf="isFrench">{{data.titleFrench}}</ng-container>
  <ng-container *ngIf="!isFrench">{{data.title}}</ng-container>
</h2>

<mat-dialog-content>
      <div class="content-description-title" *ngIf="data.description"><strong>Description</strong></div>

    <div class="content-description" *ngIf="isFrench && data.description">{{data.descriptionFrench}}</div>
    <div class="content-tasks-title" *ngIf="isFrench && data.description"><strong>Fonctionnalités</strong></div>
    <div class="content-task" *ngIf="isFrench && data.description">
      <ul class="content-tasks-list">
        <li *ngFor="let task of data.tasksFrench">{{task}}</li>
      </ul>
    </div>

    <div class="content-description" *ngIf="!isFrench && data.description">{{data.description}}</div>
    <div class="content-tasks-title" *ngIf="!isFrench && data.tasks"><strong>Features</strong></div>
    <div class="content-task" *ngIf="!isFrench && data.description">
      <ul class="content-tasks-list">
        <li *ngFor="let task of data.tasks">{{task}}</li>
      </ul>
    </div>

    <div class="content-image" *ngFor="let image of data.images">
      <img src={{image}}>
    </div>
   
    <div class="content">
      <div class="content-video_container" *ngIf="data.video && data.description">
        <iframe class="content-video" [src]="data.video | safe" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>

    <div class="content-description-title" *ngIf="data.description_2"><strong>Description</strong></div>

    <div class="content-tasks-title" *ngIf="isFrench && data.tasksFrench_2"><strong>Fonctionnalités</strong></div>
    <div class="content-task" *ngIf="isFrench&& data.tasksFrench_2">
      <ul class="content-tasks-list">
        <li *ngFor="let task of data.tasksFrench_2">{{task}}</li>
      </ul>
    </div>

    <div class="content-tasks-title" *ngIf="!isFrench && data.tasks_2"><strong>Features</strong></div>
    <div class="content-task" *ngIf="!isFrench && data.tasks_2">
      <ul class="content-tasks-list">
        <li *ngFor="let task of data.tasks_2">{{task}}</li>
      </ul>
    </div>
</mat-dialog-content>

<mat-dialog-actions>
  <div>
    <button mat-button mat-dialog-close class="button-close">Close</button>
  </div>
</mat-dialog-actions>
