@use '@angular/material' as mat;

@include mat.core();


@font-face {
  font-family: 'Inter Static';
  font-style: normal;
  font-named-instance: 'Regular';
  src: url("https://estefania-marin-sierra.github.io/Portfolio/assets/fonts/Inter-Regular.woff2") format("woff2");
}

@supports (font-variation-settings: normal){
  @font-face {
    font-family: 'Inter Variable';
    font-style: normal;
    font-named-instance: 'Regular';
    src: url("https://estefania-marin-sierra.github.io/Portfolio/assets/fonts/Inter.var.woff2") format("woff2");
  }
}

// Element Styling
html, body { height: 100%; }
body {
  margin: 0;
  font-family: 'Inter Variable', sans-serif;
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}

a {
  transition: all 100ms ease-in-out;
}

button {
  --mat-mdc-button-persistent-ripple-color: transparent !important;
}

mat-dialog-content {
  padding-top: 24px !important;
  font-family: Arial, Helvetica, sans-serif !important;
}

svg:hover {
  transform:rotate(15deg);
}

// Global Class Styling
.content {
  font-size: 16px !important;
}

.mat-mdc-dialog-actions {
  justify-content: end !important;
  padding-right: 24px !important;
  padding-bottom: 16px !important;
}

.mat-mdc-dialog-title {
  font-size: 32px !important;
  font-weight: bold !important;
  font-family: 'Inter Variable', sans-serif !important;
}

.more-info-button {
  border: 1px solid #f76ce936;
  border-radius: 1px;
  margin-right: 16px;
}

.more-info-button:hover{
  background-color: #cb6ed3 !important;
}

.profile-link {
  padding: 8px;
}

.profile-link:hover {
  color:#90306d;
}

.pt-1 {
  padding-top: 4px;
}

.pt-2 {
  padding-top: 8px;
}

.pt-3 {
  padding-top: 16px;
}

.pt-4 {
  padding-top: 24px;
}

.title-text {
  font-size: 40px;
  line-height: 24px;
  text-align: center;
  border-bottom: 5px solid;
  border-color: #d569e4;
  margin-bottom:20px;
  font-weight: 200;
}

// Mobile Exclusive Adjustment
@media (max-width: 768px) {
  .cdk-overlay-pane {
    min-width: 100%;
    width: 100%;
  }

  .mat-mdc-outlined-button.mat-accent {
    color: #434049 !important;
    font-size: 12px !important;
    font-weight: 600 !important;
    padding-left: 8px !important;
    padding-right: 8px !important;
  }

  .profile-link:hover {
    color: unset;
  }

  .title {
    font-size: 32px;
    line-height: 24px;
    text-align: center;
  }

  .title-french {
    font-size: 24px;
    line-height: 24px;
    text-align: center;
  }
}
