<div id="achievements-section">
  <h1 class="title-french" *ngIf="isFrench">
    <span class="title-text">RÉALISATIONS</span>
  </h1>
  <h1 class="title" *ngIf="!isFrench">
    <span class="title-text">ACHIEVEMENTS</span>
  </h1>

  <div class="container-achievements">
    <div class="container-achievement" *ngFor="let achievements_1 of achievements1">
      <div><img src={{achievements_1.icon}} alt={{achievements_1.name}} /></div>
      <div class="achievements-name">
        <ng-container *ngIf="isFrench">{{achievements_1.nameFrench}}</ng-container>
        <ng-container *ngIf="!isFrench">{{achievements_1.name}}</ng-container>
      </div>

      <div class="tech">
        <ul *ngIf="isFrench"><li *ngFor="let tool of achievements_1.techFrench">{{tool}}</li></ul>
        <ul *ngIf="!isFrench"><li *ngFor="let tool of achievements_1.tech">{{tool}}</li></ul>
      </div>
    </div>
  </div>

  <div class="container-achievements">
    <div class="container-achievement" *ngFor="let achievements_2 of achievements2">
      <div><img src={{achievements_2.icon}} alt={{achievements_2.name}} /></div>
      <div class="achievements-name">
        <ng-container *ngIf="isFrench">{{achievements_2.nameFrench}}</ng-container>
        <ng-container *ngIf="!isFrench">{{achievements_2.name}}</ng-container>
      </div>

      <div class="tech">
        <ul *ngIf="isFrench"><li *ngFor="let tool of achievements_2.techFrench">{{tool}}</li></ul>
        <ul *ngIf="!isFrench"><li *ngFor="let tool of achievements_2.tech">{{tool}}</li></ul>
      </div>
    </div>
</div>
